{% block navigation_section %}
<div class="container">
    <ul class="navbar-nav mr-auto">
        {% for nav in navigation_links.getNavigationLinks %}
            <li class="nav-item">
                <a class="nav-link" href="{{ nav.url }}">{{ nav.name|trans|capitalize }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

